html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}
.rb{
    width: 100%;
    height: 30%;
    background: black;
    transform: rotate(130deg);
    top: 10px;
    position: relative;
    left: -506px;
}
a {
    text-decoration: none;
    color: unset;
}
h1 {
    position: relative;
    top: -60px;
}
